[Unit]
Description=Reddit /s count bot

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=%h/Services/s-count-bot
ExecStart=/usr/bin/env python3 main.py auth.json


[Install]
WantedBy=default.target

