[Unit]
Description=Reddit /s count bot

[Service]
Type=simple
Restart=always
RestartSec=1
#User=user
#Group=user
WorkingDirectory=%h/s_count_bot
ExecStart=/usr/bin/python3 %h/s_count_bot/main.py auth.json log.txt


[Install]
WantedBy=default.target

